@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Kavoon&family=Roboto&display=swap");

body {
  height: 100vh;
}

.app {
  @apply bg-orange-100 text-orange-800;
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr;
  font-family: "Roboto", sans-serif;
}

.app .title {
  @apply text-5xl p-4 text-orange-300 bg-green-600;
  font-family: "Kavoon", cursive;
  text-align: center;
}

.app .actions {
  @apply p-4;
}

.container {
  @apply flex flex-col gap-4;
}

.board {
  @apply h-full overflow-y-auto;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 0 1rem 1rem;
}

.board .header {
  @apply flex items-center w-full justify-between bg-orange-300 uppercase font-bold text-orange-100 mb-4 p-2;
}

.board .column {
  @apply p-4 bg-slate-100  border-t-4 border-b-4 border-green-500 shadow-lg shadow-gray-300;
}

.num-badge {
  @apply text-orange-300 ml-2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: white;
}

.card-fact {
  @apply p-4 shadow transition-all bg-white border-t-4;
}

.card-fact.created {
  @apply hover:bg-orange-50 hover:shadow-lg hover:scale-105 border-red-500;
}

.card-fact.pending {
  @apply hover:bg-orange-50 hover:shadow-lg hover:scale-105 border-green-500;
}

.card-fact.approved {
  @apply border-purple-500;
}

.button-default {
  @apply rounded-full py-2 px-4 uppercase font-semibold text-sm shadow;
}

.button-actions {
  @apply flex justify-between;
}

.button-actions .button-remove {
  @apply text-red-500 bg-transparent border border-red-500 hover:bg-red-200;
}

.button-actions .button-request-approval,
.button-actions .button-deny {
  @apply text-red-500 bg-red-100 hover:bg-red-200;
}

.button-actions .button-approve {
  @apply text-green-500 bg-green-100 hover:bg-green-200;
}

.add-quote-form {
  @apply flex flex-col gap-4 my-4 shadow p-4 bg-slate-100;
}

.button-submit {
  @apply bg-green-400 text-white max-w-fit self-end;
}
